<a href="https://colab.research.google.com/github/sompaul97/Movie-Recommendation-System/blob/master/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
movies_path  = "/content/drive/My Drive/Data/Dataset for Movie Recommendation/movies.csv"
ratings_path = "/content/drive/My Drive/Data/Dataset for Movie Recommendation/ratings.csv"
movies = pd.read_csv(movies_path)
ratings = pd.read_csv(ratings_path)

In [ ]:
movies.loc[movies.movieId == 260]

     movieId  ...                   genres
257      260  ...  Action|Adventure|Sci-Fi

[1 rows x 3 columns]

In [ ]:
genome_tags_path = '/content/drive/My Drive/Data/Dataset for Movie Recommendation/genome-tags.csv'
tags_path = '/content/drive/My Drive/Data/Dataset for Movie Recommendation/tags.csv'
genome_tags = pd.read_csv(genome_tags_path)
tags = pd.read_csv(tags_path)

In [ ]:
tags

         userId  movieId                  tag   timestamp
0             3      260              classic  1439472355
1             3      260               sci-fi  1439472256
2             4     1732          dark comedy  1573943598
3             4     1732       great dialogue  1573943604
4             4     7569     so bad it's good  1573943455
...         ...      ...                  ...         ...
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

[1093360 rows x 4 columns]

In [ ]:
genome_tags.head(15)

    tagId           tag
0       1           007
1       2  007 (series)
2       3  18th century
3       4         1920s
4       5         1930s
5       6         1950s
6       7         1960s
7       8         1970s
8       9         1980s
9      10  19th century
10     11            3d
11     12          70mm
12     13           80s
13     14          9/11
14     15       aardman

In [ ]:
movies

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
62418   209157  ...                                        Drama
62419   209159  ...                                  Documentary
62420   209163  ...                                 Comedy|Drama
62421   209169  ...                           (no genres listed)
62422   209171  ...                       Action|Adventure|Drama

[62423 rows x 3 columns]

In [ ]:
ratings.drop('timestamp', axis = 1, inplace = True)

In [ ]:
ratings

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [ ]:
movies

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
62418   209157  ...                                        Drama
62419   209159  ...                                  Documentary
62420   209163  ...                                 Comedy|Drama
62421   209169  ...                           (no genres listed)
62422   209171  ...                       Action|Adventure|Drama

[62423 rows x 3 columns]

In [ ]:
movies.loc[movies. title == 'Titanic (1997)' ]

      movieId           title         genres
1655     1721  Titanic (1997)  Drama|Romance